<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nikoladjukic.edetailing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:logo="@drawable/elverion"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AllPresentationsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".SlideTimingsActivity"
            android:screenOrientation="landscape"/>

        <provider
            android:name=".db.EDetailingContentProvider"
            android:authorities="nikoladjukic.edetailing.db.contentprovider"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="77879874a36b5125ea38b80080278e0141274158" />
    </application>

</manifest>